pkgbase = zfs-dkms-staging-git
	pkgdesc = Kernel modules for the Zettabyte File System (release staging branch).
	pkgver = 2.2.4.r11.g54ef0fdf60
	pkgrel = 4
	url = https://zfsonlinux.org/
	arch = any
	license = CDDL-1.0
	makedepends = git
	provides = ZFS-MODULE
	provides = SPL-MODULE
	provides = zfs-dkms
	provides = zfs
	conflicts = zfs-dkms
	source = zfs::git+https://github.com/openzfs/zfs.git#branch=zfs-2.2.5-staging
	source = linux69-call-adddisk.patch::https://github.com/openzfs/zfs/commit/49f3ce338587410cabc078646b76152685ae102d.patch?full_index=1
	source = disable-dependency-tracking.patch::https://github.com/openzfs/zfs/commit/c98295eed2687cee704ef5f8f3218d3d44a6a1d8.patch?full_index=1
	source = linux610-rework-queue-limits-setup.patch::https://github.com/openzfs/zfs/commit/b409892ae5028965a6fe98dde1346594807e6e45.patch?full_index=1
	source = linux610-avoid-kmem_cache_alloc.patch::https://github.com/openzfs/zfs/commit/e951dba48a6330aca9c161c50189f6974e6877f0.patch?full_index=1
	source = linux516-use-bdev_nr_bytes::https://github.com/openzfs/zfs/commit/7ca7bb7fd723a91366ce767aea53c4f5c2d65afb.patch?full_index=1
	source = 0001-only-build-the-module-in-dkms.conf.patch
	sha256sums = SKIP
	sha256sums = 8cebe7524402bc0b4093d865eabec2062a38a93ca953f8d14b62ffc541932a98
	sha256sums = 9dc7963c3ac59b0d7ea33ca2aed9dd2e80de0cfb1517df9d028e8e0f2944d3dd
	sha256sums = efad66fe48b9cae4809410182ccf4843b052a5938d2f15fae064f97f8ab6e609
	sha256sums = 86a732705a19b5578aa9df1b4d7a72b94ed26d24238149ba177a1989a8e6e3d4
	sha256sums = d9d70f23b57629ede9a360249de4b01592d09b68cd5735865b8f83a09bad3ea6
	sha256sums = 8d5c31f883a906ab42776dcda79b6c89f904d8f356ade0dab5491578a6af55a5

pkgname = zfs-dkms-staging-git
	depends = zfs-utils>=2.2.4
	depends = zfs-utils<=2.2.5
	depends = dkms
